<div class="product-page__images grid-container text-center">
	<img id="zoom_01" src='assets/img/apple_cinema_30-200x200.jpg' data-zoom-image="assets/img/large/apple_cinema_30-200x200-large.jpg"/>
	<img id="zoom_02" src='assets/img/71taZG+IL2L._SL1500.jpg' data-zoom-image="assets/img/large/71taZG+IL2L._SL1500-large.jpg"/>
	<img id="zoom_03" src='assets/img/51X9rIdtiAL._SL1500.jpg' data-zoom-image="assets/img/large/51X9rIdtiAL._SL1500-large.jpg"/>
	<img id="zoom_04" src='assets/img/61oE61Gf4ZL._SL1500.jpg' data-zoom-image="assets/img/61oE61Gf4ZL._SL1500-large.jpg"/>
</div>